body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

main {
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 1, 1, 0.2);
}

main,
header,
footer {
  width: 1200px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;

}

header,
footer {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

header {
  top: 0;
  z-index: 2;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
}

.main-header-logo {
  position: absolute;
  left: 531px;
  margin: auto;
  width: 138px;
  height: 70px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation .site-navigation {
  display: flex;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation li {
  margin-left: 60px;
  margin-right: 60px;
  padding: 15px;
}

.site-navigation li:nth-child(2) {
  margin-right: 280px;
}


.site-navigation li:first-child,
.site-navigation li:nth-child(2) {
  text-align: left;
}

.site-navigation li:last-child,
.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation {
  list-style: none;
  font-weight: 700;
}

.site-navigation a {
  color: #000000;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active {
  color: #766357;
}

/* index */

.intro {
  background-image: url("../img/background-mountains.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 260px;
  position: relative;
}

.intro p {
  text-align: center;
  margin-top: 55px;
}

.intro::after {
    content: "";
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%,;
    height: 58px;
    background-image: url(../img/shape-intro.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.features {
  text-align: center;
  margin: 0;
  padding: 0;
}


.features h2,
.features h3 {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

section.advantage {
  display: block;
  width: 490px;
  top: 572px;
  position: absolute;
  padding-left: 355px;
  padding-right: 355px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: auto;
  background-color: #ffffff;
}

.advantage p {
  margin-top: 35px;
}

.feature-item.big {
  display: flex;
  padding: 0;
  margin: 0;
}

.image {
  height: 256px;
  width: 815px;
  overflow: hidden;
}

.image img {
  width: 815px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  object-fit: cover;
}

li.feature-item {
  width: 400px;
  padding: 58px;

}

.features ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.features li {
  list-style: none;
}

.feature-item.blue {
  background-color: #81b3d2;
  color: #ffffff;
  line-height: 21px;
  width: 307px;
  padding: 40px;
}

.feature-item.blue h3,
.feature-item.blue p  {
  color: #ffffff;
}

.feature-item.gray {
  background-color: #eeeeee;
}


.map-intro {
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 40px;
}

.map h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}


.map form {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding-left: 52px;
  padding-right: 52px;
  padding-bottom: 52px;
  padding-top: 22px;
  width: 460px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  text-align: justify;
}

button.search {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    min-width: 565px;
    padding: 25px;
    margin-left: 317px;
}

button.search:hover,
button.search:focus {
  background-color: #604e43;
  border: none;
}

button.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.hotel-search input {
  display: inline-block;
  font: inherit;
  background-color: #f2f2f2;
  border: 0;
  margin-top: 30px;
  height: 38px;
  padding-left: 12px;
}

.hotel-search label {
  vertical-align: middle;
  margin-right: 18px;
}

.hotel-search div {
  display: inline-block;
  float: left;
}

.date button {
  width: 38px;
  height: 38px;
  border: none;
  padding: 0;
  margin: 0;
}

.half-width {
  width: 50%;
}

.half-width input {
  width: 38px;
  padding: 0;
  text-align: center;
}

.half-width label {
  margin-right: 30px;
}

.hotel-search input:hover {
  font: inherit;
  background-color: #ebebeb;
  border: 0;
}

.hotel-search input:focus {
  font: inherit;
  background-color: #ffffff;
  border: 3px solid #e5e5e5;
}


.date input {
  width: 290px;
}

.form-button {
  font-size: 14px;
  line-height: 26px;
  font-weight: bolder;
  text-align: center;
  color: #a9a9a9;
  fill: #a9a9a9;
  background-color: #f2f2f2;
  margin: 0;
}

.form-button:hover,
.form-button:focus,
.half-width .form-button:focus,
.half-width .form-button:hover {
  color: #000000;
  fill: #000000;
  background-color: #f2f2f2;
}

.form-button:active,
.half-width .form-button:active {
  color: #81b3d2;
  fill: #81b3d2;
  background-color: #f2f2f2;
}

button.submit {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    width: 460px;
    margin-top: 30px;
    padding: 15px;
}

button.submit:hover,
button.submit:focus {
  background-color: #669ec0;
}

button.submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

p.map-image {
  margin: 0;
}

.map-image img {
  width: 100%;
  object-fit: cover;
}

/* catalog */

.filters {
  background-image: url("../img/background-mountains-catalog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  font-size: 14px;
  line-height: 21px;
  padding-left: 70px;
  padding-right: 70px;
}

form.filter {
  display: flex;
  padding-top: 85px;
  padding-bottom: 10px;
}

form fieldset {
  width: 272px;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filters ul {
  margin: 0;
  padding: 0;
}

.filters li {
  list-style: none;
  padding: 14px;
  padding-left: 0;
}

.filters fieldset {
  border: none;
}

div.price-send {
  width: 320px;
  margin-left: 130px;
}

div.output-price {
  display: flex;
  width: 305px;
  border: 2px solid #ffffff;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.output-price p {
  width: 160px;
  text-align: center;
  margin: 0;
}

input[type="range"] {
  margin: 5px;
}

button.filter-button {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  width: 139px;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button.filter-button:hover,
button.filter-button:focus {
  background-color: #ffffff;
  color: #000000;
  border: none;
}

section.scale {
  display: flex;
  align-items: baseline;
  padding-left: 70px;
  padding-right: 33px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.scale .find {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;

}

.scale div {
  margin-right: 47px;
}

.scale .assortment {
  display: flex;
  justify-content: space-between;
  width: 355px;
}

.assortment ul {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.scale li {
  list-style: none;
}

.scale a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
  text-decoration: none;
}

.scale a:hover,
.scale a:focus {
  color: #81b3d2;
}

.scale a:active {
  color: #000000;
  border: none;
}

.direction {
  margin-right: 0;
  margin-left: 446px;
}

.direction a {
  fill: #cacaca;
  border: none;
  text-decoration: none;
  padding: 3px;
}

.direction a:hover,
.direction a:focus {
  fill: #231f20;
  border: none;
}

.direction a:active {
  fill: #81b3d2;
  border: none;
}

.hotels ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-item h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

li.hotels-item {
  display: flex;
  align-items: flex-end;
  padding-left: 70px;
  padding-right: 33px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
}

.hotels-item div {
  margin: 0;
  margin-right: 30px;
}

p.price {
  margin-top: 7px;
}

p.buttons {
  margin: 0;
  margin-bottom: 10px;
}

a.more {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #81b3d2;
    border: none;
    text-decoration: none;
    width: 110px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.more:hover,
a.more:focus {
  background-color: #669ec0;
}

a.more:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

a.book {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #766357;
    border: none;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

a.book:hover,
a.book:focus {
  background-color: #604e43;
}

a.book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

div.hotel-rate {
  margin-left: 490px;
}

p.stars {
  margin-bottom: 40px;
  text-align: right;
}

p.rate {
  color: #666666;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-bottom: 5px;
}

/* footer */

footer {
  z-index: 1;
}

.main-footer {
  color: #000000;
  background-color:rgba(255, 255, 255, 0.9);
  margin-top: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.footer-hashtag {
  width: 140px;
}

.footer-hashtag a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.footer-hashtag a:hover,
.footer-hashtag a:focus {
  text-decoration: none;
}

.footer-social {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.footer-social li {
  list-style: none;
  width: 46px;
  background-color: #81b3d2;
  vertical-align: middle;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 10px;
  fill: rgb(255, 255, 255);
}

.footer-social li:first-child {
  padding-top: 17px;
}

.footer-social li:last-child {
  padding-top: 16px;
}

.footer-social li:hover,
.footer-social li:focus {
  background-color: #669ec0;
}

.footer-social li:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  width: 200px;
}

.footer-copyright b,
.footer-copyright a {
    display: inline-block;
    vertical-align: middle;
}

.footer-copyright b {
  margin-right: 5px;
}

.footer-copyright a {
  fill: #231f20;
  text-decoration: none;
  vertical-align: middle;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  fill: #81b3d2;
}

.footer-copyright a:active {
  fill: #bdbbbc;
}
